{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:jest/recommended"],
  "plugins": ["react", "prettier", "jest"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "envConfig": false
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": true
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": ["any", "array"],
        "checkContextTypes": true,
        "checkChildContextTypes": true
      }
    ],
    "no-param-reassign": ["error", { "props": false }]
  }
}
